---
import Baselayout from '../layouts/Baselayout.astro';
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");

allPosts.sort((a, b) => a.data.date > b.data.date ? -1 : a.data.date < b.data.date ? 1 : 0);
---

<Baselayout pageTitle="hendra.dev / index">
	<ul>
	{
		allPosts.map( (post) => (
			<li><a href={`/posts/${post.id}`}>{post.data.title}</a></li>
		) )
	}
	</ul>
</Baselayout>
