---
import Baselayout from '../layouts/Baselayout.astro';
import { getCollection } from "astro:content";

const activePosts = await getCollection("blog", ({data}) => {
	return data.date > new Date('2014-12-31')
});

activePosts.sort((a, b) => a.data.date > b.data.date ? -1 : a.data.date < b.data.date ? 1 : 0);
---

<Baselayout pageTitle="hendra.dev / index">
	<ul>
	{
		activePosts.map( (post) => (
			<li><a href={`/posts/${post.id}`}>{post.data.title}</a></li>
		) )
	}
	</ul>
</Baselayout>
