---
import '../styles/global.css';

const { pageTitle } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{pageTitle ? `${pageTitle} - ` : ''}hendra.dev</title>
</head>
<body>
    <header>
        <div class="constructionbanner">
				   <em>Notes, projects, photos, and other mental clutter.</em>
        </div>
        <nav>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/posts">Blog</a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/photography">Photography</a></li>
              <!-- <li><a href="/about">About</a></li> -->
            </ul>
        </nav>
    </header>
    
    <main>
      <slot/>
    </main>
    
    <footer>
        <span>&copy; {new Date().getFullYear()} hendra.dev</span>
        <em>Work in progress.</em>
    </footer>
</body>
</html>
